.about-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--accent);
    border-radius: 15px;
    padding: 30px;
    border-bottom: 2px solid var(--tertiary);
    width: 60%;
}

.about > p {
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--neutral);
}

@media (max-width: 700px) {
    .about-container {
        position: relative;
        height: auto;
        top: 20px;
    }
    .about > p {
        font-size: 15px;
        padding: 10px;
        background-color: var(--neutral);
    }

    .about {
        padding: 10px;
        width: 95%;
    }

}

@media (max-width: 1000px) {
    .about-container {
        position: relative;
        height: auto;
        top: 20px;
    }

    .about {
        width: 100%;
    }
}